
<section class="vh-100  main ">
    <div class="alert alert-danger me-3" role="alert" *ngIf="flag"> 
        <div class="text-center">Incorrect Username or Password</div>
    </div>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card loginCard text-white" style="border-radius: 1rem;">
                    <div class="card-body  p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            
                            <form [formGroup]="loginGroup"  >
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" >User Name</label>
                                <input type="text" formControlName="userName"  class="form-control form-control-lg" />
                                
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" >Password</label>
                                <input type="password" formControlName="password" class="form-control form-control-lg" />
                                
                            </div>

                            </form>    
                            <button class="btn btn-outline-light btn-lg px-5" (click)="onSubmit()">Login</button>



                        </div>

                        <div>
                            <p class="mb-0">Don't have an account? <a routerLink="/register" class="text-white-50 fw-bold">Sign
                                    Up</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>